*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Maintitle{
    background-color: gray;
margin: 100px;
  
}
.firstparagraph {
color: rgb(41, 155, 255);
}